* {
    padding: 0px;
    margin: 0px;
}

#input-wrapper {
    text-align: center;
    padding: 10px;
}

body {
    background-color: #222222;
}

#cards {    /*  apply this to the element with the id that is called */
    margin: 15px;
}

.red {                      /*  applied to ANY ELEMENT with that class  */
    color: red;
}
.black {
    color: black;
}

.card {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    padding: 50px 25px;
    background-color: white;
    margin: 10px;
}